[submodule "Public/JavaEE7-Samples"]
	path = Public/JavaEE7-Samples
	url = https://github.com/payara/javaee7-samples
[submodule "Public/CargoTracker"]
	path = Public/CargoTracker
	url = https://github.com/payara/cargotracker
[submodule "Public/Mojarra"]
	path = Public/Mojarra
	url = https://github.com/payara/mojarra
	branch = mojarra-2.2.14-payara-maintenance
[submodule "Private/PayaraTests-Private"]
	path = Private/PayaraTests-Private
	url = git@bitbucket.org:payara/payaratests-private
[submodule "Public/JavaEE8-Samples"]
	path = Public/JavaEE8-Samples
	url = https://github.com/javaee-samples/javaee8-samples
[submodule "Public/MicroProfile-TCK-Runners"]
	path = Public/MicroProfile-TCK-Runners
	url = https://github.com/payara/MicroProfile-TCK-Runners
